/* Title */
h1{
  font-size: 72px;
 background: -webkit-linear-gradient(rgba(50,205,50,1), rgba(0,212,255,1));
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
  /* color: linear-gradient(90deg, rgba(50,205,50,1) 0%, rgba(0,212,255,1) 100%); */
}
h3 {
  color: white;
}

/* Content of First Box */
.box-primary {
  display: flex;
  height: 800px;
  width: 100%;
  background: #13181b;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.round {
  border-radius: 25px;
  background-position: left top;
  background-repeat: repeat;
  padding: 20px;
  width: 200px;
  height: 150px;
}
.logos {
  display: flex;
  flex-direction: row;
}
#content {
        position: relative;
    }
#content img {
      position: absolute;
      top: 0px;
      right: 0px;
    }
.crop {
  object-fit:cover;
  border-radius:50%;
}


/* Content of Second Box */
.box-secondary {
  display: flex;
  height: 800px;
  width: 100%;
  background-color: #d3d3d3;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.class-container {
  background-color: powderblue;
  display: flex;
  flex-direction: row;
  border-radius: 25px;
  background-position: left top;
  background-repeat: repeat;
  width: 90%;
  height: 400px;
  border-color: #32cd32;
  justify-content: center;
  align-items: center;

}
.classes {
  height: 250px;
  width: 250px;
  background-color: white;
  border-style: solid;
  border-width: 5px;
  border-color: #32cd32;

  border-radius: 25px;
  background-position: left top;
  background-repeat: repeat;

  justify-content: center;
  align-items: center;

}
.blank {
  height: 200px;
  width: 200px;
  padding: 50px;
}
